.pricing-header {
    max-width: 700px;
}

.themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.btn-dark {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: .5rem 1rem;
    line-height: 1.5;
    border-radius: .3rem;
    justify-self: center;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    text-align: center;
}

.movies-stored li{
    margin-bottom: 16px;
}

.btn-danger {
    margin-top:0;
}

.li {
    font-size: 1.15rem;
}

.movies-stored-paragraph {
    margin-bottom: 16px;
}

.genres-list {
    padding: 4px;
}

.form-control {
    margin-top: 16px;
    margin-bottom: 16px;
}

.select-genres-paragraph {
    margin-bottom: 0.5rem;
    text-align: center;
}